data/raw/*
!data/raw/.gitkeep
data/cleaned/*
!data/cleaned/README.md
data/cloned/*/*.parquet
.vscode/
__pycache__/
scripts/tests.py
CLAUDE.md
cache/*
experiment_results/pipeline_outputs/recommendations/**/*.parquet
experiment_results/pipeline_outputs/recommendations/**/*.csv
experiment_results/comparator_results/**/*.parquet
experiment_results/comparator_results/**/*.csv
jobs/out/*
worker*
*.md